<div style="padding-top: 200px;"></div>

<div>


    <div class="titulo">
        
        <h1 class="titulo-pos">Goleiros</h1>

        <mat-grid-list cols="5" rowHeight="1.5:2">
            <mat-grid-tile class="card-player">
                <div class="card-individual">
                    <img 
                        alt="Denis"
                        src="../assets/images/jogadores/denis.png"
                
                    />
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile class="card-player">
                <div class="card-individual">
                    <img
                        alt="Denival"
                        src="../assets/images/jogadores/denival.png"                    
                    />
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile class="card-player">
                <div class="card-individual">
                    <img
                        alt="Renan"
                        src="../assets/images/jogadores/renan.png"
                    
                    />

                </div>
            </mat-grid-tile>
            
            <mat-grid-tile class="card-player">
                <div class="card-individual">
                    <img
                        alt="Adriano"
                        src="../assets/images/jogadores/adriano.png"
                    />
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile class="card-player">
                <div class="card-individual">
                    <img
                        alt="Jordan"
                        src="../assets/images/jogadores/jordan.png"
                    />
                </div>
            </mat-grid-tile>

        </mat-grid-list>
        
        <h1 class="titulo-pos">Laterais</h1>
        <mat-grid-list cols="5" rowHeight="1.5:2">
            
            <mat-grid-tile class="card-player">
                <div card="card-individual">
                    <img
                        alt="Roberto Rosales"
                        src="../assets/images/jogadores/rosales.png"

                    />
                </div>
            </mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>5</mat-grid-tile>
            <mat-grid-tile>6</mat-grid-tile>
            <mat-grid-tile>7</mat-grid-tile>

        </mat-grid-list>

    </div>


</div>



