

<div class="topbar">
    <img
        width="200"
        alt="Sport Recife Logo"
        src="../assets/images/sport-logo.png"
    />
    <div class="imagem"></div>
    <span class="tittle">Museu Sport Recife</span>

    <div class="botoes">
        <!-- Botão inicio -->
        <a class="teste" mat-list-item routerLink="/">
            <button mat-button class="botao">
            <mat-icon class="icone" aria-hidden="false" aria-label=" Voltar para Início " fontIcon="home"></mat-icon>
            <span>Início</span>
        </button>
        </a>
        <!-- Botão Troféus -->
        <a class="teste"  mat-list-item routerLink="/trofeus">
            <button mat-button class="botao">
            <mat-icon class="icone" aria-hidden="false" aria-label=" Voltar para Troféus " fontIcon="star"></mat-icon>
            <span>Troféus</span>
            </button>
        </a>
        <!-- Botão Jogadores -->
        <a class="teste" mat-list-icon routerLink="/jogadores">
            <button mat-button class="botao">
                <mat-icon class="icone" aria-hidden="false" aria-label=" Voltar para Jogadores " fontIcon="person"></mat-icon>
                <span>Jogadores</span>
            </button>
        </a>
    </div>

</div>

