

<div class="topbar">
    <img
        width="200"
        alt="Sport Recife Logo"
        src="../assets/images/sport-logo.png"
    />
    <span class="tittle">Museu Sport Recife</span>

    <div class="botoes">
        <!-- Botão inicio -->
        <button mat-button class="botao">
            <mat-icon class="icone" aria-hidden="false" aria-label=" Voltar para Início " fontIcon="home"></mat-icon>
            <span>Início</span>
        </button>
        <!-- Botão Troféus -->
        <button mat-button class="botao">
            <mat-icon class="icone" aria-hidden="false" aria-label=" Voltar para Troféus " fontIcon="star"></mat-icon>
            <span>Troféus</span>
        </button>
        <!-- Botão Jogadores -->
        <button mat-button class="botao">
            <mat-icon class="icone" aria-hidden="false" aria-label=" Voltar para Jogadores " fontIcon="person"></mat-icon>
            <span>Jogadores</span>
        </button>
    </div>

</div>

