.topbar{

    background:#B20C18;
    height: 8rem;
    color: #F9E700;
    font-family: 'RobotoCondensed-regular';
    font-weight: 800 ;
    font-size: 30px;
    display: flex;
    padding: 15px;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 100;

}


.tittle{

    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    align-self: center;

}

.icone{
    display: flex;
    width: 30px !important;
    align-items: center;
    align-self: center;
}

.botoes{

    display: flex;
    justify-content: center;
    align-items: center;

}

.botao{

    color: #F9E700 !important;
    font-size: 20px;
    font-weight: bold;
    display: flex;


}

.teste {

    text-decoration: none;

}