.body-container{
    
    padding-top: 52rem;
    background-image: url(https://1.bp.blogspot.com/-oyrW9hoSZlA/XwBMKQsJ-UI/AAAAAAAAemQ/UdK83EbR1ggj0Y1aUigiSCGoRVfWvDQJwCLcBGAsYHQ/s1600/35292870670_5e50604124_b-1-1024x650.jpg);
    background-size: 100%;
    opacity: 75%;
}
