<app-topbar></app-topbar>
<div class="conteudo-corpo">

    <div>
        <h1 class="titulo">Sala de Troféus!</h1>
        <h2 class="subtitulo">Essa tela apresenta toda a grandiosidade do leão da ilha</h2>
    </div>
    <!-- Titulo de 1987 -->
    <div class="painel-titulos">
        <mat-accordion class="tamanho">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Brasileiro de 1987
                    </mat-panel-title>

                    <mat-panel-description>
                        Série A 
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p> </p>
            </mat-expansion-panel>
    </mat-accordion>
    </div>
</div>

